<!-- <div>
    <div class="offset-4">
        <h1>Формирование отчета</h1>
        <div class="col-md-4 offset-1">
            <div class="form-group">
                <label>Дата начала отчета</label>
                <input type="datetime" [(ngModel)]="dates.startDate" class="form-control" placeholder="месяц/день/год" />
            </div>
            <div class="form-group">
                <label>Дата окончания отчета</label>
                <input type="datetime" [(ngModel)]="dates.endDate" class="form-control" placeholder="месяц/день/год" />
            </div>
            <div class="row">
                <input type="button" value="Сохранить" (click)="getFiltredRecordsAndBalance()" class="btn btn-success" />
                <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning offset-1" />
            </div>
        </div>
    </div>
</div> -->